/charfuncs
/charfuncs.c
/charfuncs.obj
/dec_test
/dec_test.c
/dec_test.obj
/describe
/describe.c
/describe.obj
/rfmtdate
/rfmtdate.c
/rfmtdate.obj
/rfmtlong
/rfmtlong.c
/rfmtlong.obj
/rnull
/rnull.c
/rnull.obj
/sqlda
/sqlda.c
/sqlda.obj
/test_informix
/test_informix.c
/test_informix.obj
/test_informix2
/test_informix2.c
/test_informix2.obj
