@media print {
    /* Adjusts positioning of admonition icon */
  .md-typeset :is(.admonition-title,summary):before {
    top: 0.6rem;
    left: 0.6rem;
  }

} 

.md-sidebar__inner {
  font-size: 0.65rem;   /* Font size */
  line-height: 1.6;
}