DROP TABLE username_test;

CREATE TABLE username_test (
	name		text,
	username	text not null
);

CREATE TRIGGER insert_usernames
	BEFORE INSERT OR UPDATE ON username_test
	FOR EACH ROW 
	EXECUTE PROCEDURE insert_username (username);

INSERT INTO username_test VALUES ('nothing');
INSERT INTO username_test VALUES ('null', null);
INSERT INTO username_test VALUES ('empty string', '');
INSERT INTO username_test VALUES ('space', ' ');
INSERT INTO username_test VALUES ('tab', '	');
INSERT INTO username_test VALUES ('name', 'name');

SELECT * FROM username_test;
