# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order is important; the last matching pattern takes the most precedence.

*                                 @dutow @dAdAbird
/contrib/pg_tde/documentation/    @nastena1606
/.github/                         @artemgavrilov
