# 
# 		PostgreSQL IDENT-BASED AUTHENTICATION MAPS
# 
# This file controls PostgreSQL ident-based authentication. It maps ident
# usernames (typically Unix usernames) to their corresponding PostgreSQL
# usernames. Entries are grouped by map name. Each record consists of
# three fields:
# 
# 	o map name
# 	o ident username
# 	o PostgreSQL username
# 
# It is read on postmaster startup and when the postmaster receives a SIGHUP.
# If you edit the file on a running system, you have to SIGHUP the postmaster
# for the changes to take effect.
#
# For example, the following entry equates user "james" on a remote system
# to PostgreSQL user "guest" in the map named "phoenix":
# 
# MAP       IDENT    PGUSERNAME
# phoenix   james    guest
# 
# "phoenix" can now be used by an "ident" record in $DATA/pg_hba.conf.
# 
# Multiple maps may be specified in this file and used by pg_hba.conf.
# 
# Note that it is possible for a remote user to map to multiple PostgreSQL
# usernames. The PostgreSQL username specified at connection time controls
# which one is used.
# 
# If all ident usernames and PostgreSQL usernames are the same, you don't
# need this file. Instead, use the special map name "sameuser" in
# pg_hba.conf.
# 
# MAP     IDENT    PGUSERNAME
