# PostgreSQL Ident Authentication Maps
# ====================================
#
# Refer to the PostgreSQL Administrator's Guide, chapter "Client
# Authentication" for a complete description.  A short synopsis
# follows.
#
# This file controls PostgreSQL ident-based authentication. It maps
# ident user names (typically Unix user names) to their corresponding
# PostgreSQL user names.  Records are of the form:
#
# MAPNAME  IDENT-USERNAME  PG-USERNAME
#
# (The uppercase quantities must be replaced by actual values.)
#
# MAPNAME is the (otherwise freely chosen) map name that was used in
# pg_hba.conf.  IDENT-USERNAME is the detected user name of the
# client.  PG-USERNAME is the requested PostgreSQL user name.  The
# existence of a record specifies that IDENT-USERNAME may connect as
# PG-USERNAME.  Multiple maps may be specified in this file and used
# by pg_hba.conf.
#
# This file is read on server startup and when the postmaster receives
# a SIGHUP signal.  If you edit the file on a running system, you have
# to SIGHUP the postmaster for the changes to take effect.  You can use
# "pg_ctl reload" to do that.

# Put your actual configuration here
# ----------------------------------
#
# No map names are defined in the default configuration.  If all ident
# user names and PostgreSQL user names are the same, you don't need
# this file.

# MAPNAME     IDENT-USERNAME    PG-USERNAME
