[submodule "pglite/pg_ivm"]
	path = pglite/pg_ivm
	url = https://github.com/sraoss/pg_ivm.git
[submodule "pglite/pgvector"]
	path = pglite/vector
	url = https://github.com/pgvector/pgvector.git
[submodule "pglite/pgtap"]
	path = pglite/pgtap
	url = https://github.com/theory/pgtap.git
[submodule "pglite/pg_uuidv7"]
	path = pglite/pg_uuidv7
	url = https://github.com/fboulnois/pg_uuidv7/
[submodule "pglite/pg_hashids"]
	path = pglite/pg_hashids
	url = https://github.com/iCyberon/pg_hashids
