# IMPORTANT: After updating this file, also run src/tools/generate_editorconfig.py

*		whitespace=space-before-tab,trailing-space
*.[chly]	whitespace=space-before-tab,trailing-space,indent-with-non-tab,tabwidth=4
*.cpp		whitespace=space-before-tab,trailing-space,indent-with-non-tab,tabwidth=4
*.pl		whitespace=space-before-tab,trailing-space,tabwidth=4
*.pm		whitespace=space-before-tab,trailing-space,tabwidth=4
*.po		whitespace=space-before-tab,trailing-space,tab-in-indent,-blank-at-eof
*.py		whitespace=space-before-tab,trailing-space,tab-in-indent
*.sgml		whitespace=space-before-tab,trailing-space,tab-in-indent
*.xml		whitespace=space-before-tab,trailing-space,tab-in-indent
*.xsl		whitespace=space-before-tab,trailing-space,tab-in-indent

# Avoid confusing ASCII underlines with leftover merge conflict markers
README		conflict-marker-size=32
README.*	conflict-marker-size=32

# Certain data files that contain special whitespace, and other special cases
*.data						-whitespace
contrib/pgcrypto/sql/pgp-armor.sql		whitespace=-blank-at-eol
src/backend/catalog/sql_features.txt		whitespace=space-before-tab,blank-at-eof,-blank-at-eol

# Test output files that contain extra whitespace
*.out					-whitespace
src/interfaces/ecpg/test/expected/*	-whitespace

# These files are maintained or generated elsewhere.  We take them as is.
configure				-whitespace
ppport.h				-whitespace
src/backend/jit/llvm/SectionMemoryManager.cpp		-whitespace
src/backend/jit/llvm/SectionMemoryManager.LICENSE	-whitespace
src/backend/regex/COPYRIGHT		-whitespace
src/backend/snowball/libstemmer/*.c	-whitespace
src/backend/utils/mb/Unicode/*-std.txt	-whitespace
src/include/jit/SectionMemoryManager.h	-whitespace
src/include/snowball/libstemmer/*	-whitespace
src/timezone/data/*			-whitespace
src/tools/pg_bsd_indent/*		-whitespace
src/tools/pg_bsd_indent/tests/*		-whitespace
src/tools/pg_bsd_indent/*.[ch]		whitespace=-blank-at-eol,-blank-at-eof,tabwidth=8
