*		whitespace=space-before-tab,trailing-space
*.[chly]	whitespace=space-before-tab,trailing-space,indent-with-non-tab,tabwidth=4
*.dsl		whitespace=space-before-tab,trailing-space,tab-in-indent
*.patch		-whitespace
*.pl		whitespace=space-before-tab,trailing-space,tabwidth=4
*.po		whitespace=space-before-tab,trailing-space,tab-in-indent,-blank-at-eof
*.sgml		whitespace=space-before-tab,trailing-space,tab-in-indent,-blank-at-eol
*.x[ms]l	whitespace=space-before-tab,trailing-space,tab-in-indent

# Avoid confusing ASCII underlines with leftover merge conflict markers
README		conflict-marker-size=32
README.*	conflict-marker-size=32

# Certain data files that contain special whitespace, and other special cases
*.data						-whitespace
contrib/pgcrypto/sql/pgp-armor.sql		whitespace=-blank-at-eol
doc/bug.template				whitespace=space-before-tab,-blank-at-eof,blank-at-eol
src/backend/catalog/sql_features.txt		whitespace=space-before-tab,blank-at-eof,-blank-at-eol

# Test output files that contain extra whitespace
*.out					-whitespace
contrib/*/output/*.source		-whitespace
src/test/regress/output/*.source	-whitespace
src/interfaces/ecpg/test/expected/*	-whitespace
src/interfaces/libpq/test/expected.out	whitespace=-blank-at-eof

# These files are maintained or generated elsewhere.  We take them as is.
configure				-whitespace
ppport.h				-whitespace
src/backend/regex/COPYRIGHT		-whitespace
src/backend/regex/re_syntax.n		-whitespace
src/backend/snowball/libstemmer/*.c	-whitespace
src/backend/utils/mb/Unicode/*-std.txt	-whitespace
src/include/snowball/libstemmer/*	-whitespace
src/timezone/data/*			-whitespace
