# An OpenSSL format CSR config file for creating a client certificate.
#
# The certificate contains a non-ASCII CN encoded in UTF-8. It is revoked by the
# client CA.

[ req ]
distinguished_name     = req_distinguished_name
prompt                 = no

[ req_distinguished_name ]
CN                     = Οδυσσέας

# no extensions in client certs
