# An OpenSSL format CSR config file for creating a client certificate.
#
# The certificate is for user "ssltestuser-dn" with a multi-part DN

[ req ]
distinguished_name     = req_distinguished_name
prompt                 = no

[ req_distinguished_name ]
O 					   = PGDG
0.OU					   = Engineering
1.OU					   = Testing
CN                     = ssltestuser-dn

# no extensions in client certs
