# An OpenSSL format CSR config file for creating a client certificate.
#
# The certificate is for user "ssltestuser" and intends to test client
# certificate with extensions.

[ req ]
distinguished_name     = req_distinguished_name
req_extensions         = client_ext
prompt                 = no

[ req_distinguished_name ]
CN                     = ssltestuser

[ client_ext ]
basicConstraints         = critical,CA:false
extendedKeyUsage         = clientAuth
