# An OpenSSL format CSR config file for creating a client certificate.
#
# This is identical to the client.config certificate, but this one is revoked
# later.

[ req ]
distinguished_name     = req_distinguished_name
prompt                 = no

[ req_distinguished_name ]
CN                     = ssltestuser

# no extensions in client certs
