# An OpenSSL format CSR config file for creating a client certificate with a
# long Subject.

[ req ]
distinguished_name     = req_distinguished_name
prompt                 = no

[ req_distinguished_name ]
# Common Names are 64 characters max
CN                     = ssl-123456789012345678901234567890123456789012345678901234567890
OU                     = Some Organizational Unit
O                      = PostgreSQL Global Development Group

# no extensions in client certs
