# A root certificate authority. The server and client CA's certificates
# are signed by this root CA.

[ req ]
distinguished_name     = req_distinguished_name
prompt                 = no
x509_extensions        = v3_ca

[ req_distinguished_name ]
CN                     = Test root CA for PostgreSQL SSL regression test suite

# Extensions for CA certs
[ v3_ca ]
basicConstraints = CA:true
