# An OpenSSL format CSR config file for creating a server certificate.
#
# This certificate has a single SAN, and no CN.

[ req ]
distinguished_name     = req_distinguished_name
req_extensions         = v3_req
prompt                 = no

[ req_distinguished_name ]
OU = PostgreSQL test suite

# For Subject Alternative Names
[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = single.alt-name.pg-ssltest.test
