# An OpenSSL format CSR config file for creating a server certificate.
#
# This is identical to server-cn-only certificate, but we specify
# RSA-PSS as the algorithm on the command line.

[ req ]
distinguished_name     = req_distinguished_name
prompt                 = no

[ req_distinguished_name ]
CN = common-name.pg-ssltest.test
OU = PostgreSQL test suite

# No Subject Alternative Names
