# An OpenSSL format CSR config file for creating a server certificate.
#
# This certificate contains both a CN and SANs in IP address format.


[ req ]
distinguished_name     = req_distinguished_name
req_extensions         = v3_req
prompt                 = no

[ req_distinguished_name ]
CN = 192.0.2.1
OU = PostgreSQL test suite

# For Subject Alternative Names
[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = dns1.alt-name.pg-ssltest.test
DNS.2 = dns2.alt-name.pg-ssltest.test
