# An OpenSSL format CSR config file for creating a server certificate.
#
# This certificate contains both a CN, and SANs.


[ req ]
distinguished_name     = req_distinguished_name
req_extensions         = v3_req
prompt                 = no

[ req_distinguished_name ]
# Note: According to RFC 2818 and 6125, the CN is ignored, when SANs are
# present. In practice, the hostname that's put in the CN field is always
# also listed as a SAN, but we intentionally don't do that here so that we
# can test adherence to those RFCs.
CN = common-name.pg-ssltest.test
OU = PostgreSQL test suite

# For Subject Alternative Names
[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = dns1.alt-name.pg-ssltest.test
DNS.2 = dns2.alt-name.pg-ssltest.test
