# An OpenSSL format CSR config file for creating a server certificate.
#
# This certificate contains SANs for localhost (DNS, IPv4, and IPv6).

[ req ]
distinguished_name     = req_distinguished_name
req_extensions         = v3_req
prompt                 = no

[ req_distinguished_name ]
OU = PostgreSQL test suite

# For Subject Alternative Names
[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = localhost
IP.1 = 127.0.0.1
IP.2 = ::1
