# An OpenSSL format CSR config file for creating the server Intermediate
# Certificate Authority. This configuration file is also used when operating
# the CA.
#
# This certificate is used to sign server certificates. It is an Intermediate
# CA.

[ req ]
distinguished_name     = req_distinguished_name
prompt                 = no
req_extensions         = v3_ca

[ req_distinguished_name ]
CN                     = Test CA for PostgreSQL SSL regression test server certs

# Extensions for CA certs
[ v3_ca ]
basicConstraints = CA:true
