# An OpenSSL format CSR config file for creating a server certificate.
#

[ req ]
distinguished_name     = req_distinguished_name
req_extensions         = v3_req
prompt                 = no

[ req_distinguished_name ]
OU = PostgreSQL test suite

# For Subject Alternative Names
[ v3_req ]
subjectAltName = @alt_names

# Normally IP addresses should not go into a dNSName.
[ alt_names ]
DNS.1 = 192.0.2.1
