/* doc/src/sgml/stylesheet.css */

/* color scheme similar to www.postgresql.org */

BODY {
	color: #000000;
	background: #FFFFFF;
	font-family: verdana, sans-serif;
}

A:link		{ color:#0066A2; }
A:visited	{ color:#004E66; }
A:active	{ color:#0066A2; }
A:hover		{ color:#000000; }

H1 {
	font-size: 1.4em;
	font-weight: bold;
	margin-top: 0em;
	margin-bottom: 0em;
	color: #EC5800;
}

H2 {
	font-size: 1.2em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: bold;
	color: #666;
}

H3 {
	font-size: 1.1em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: bold;
	color: #666;
}

H4 {
	font-size: 0.95em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: normal;
	color: #666;
}

H5 {
	font-size: 0.9em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: normal;
}

H6 {
	font-size: 0.85em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: normal;
}

/* center some titles */

.BOOK .TITLE, .BOOK .CORPAUTHOR, .BOOK .COPYRIGHT {
	text-align: center;
}

/* decoration for formal examples */

DIV.EXAMPLE {
	padding-left: 15px;
	border-style: solid;
	border-width: 0px;
	border-left-width: 2px;
	border-color: black;
	margin: 0.5ex;
}

/* less dense spacing of TOC */

.BOOK .TOC DL DT {
	padding-top: 1.5ex;
	padding-bottom: 1.5ex;
}

.BOOK .TOC DL DL DT {
	padding-top: 0ex;
	padding-bottom: 0ex;
}

/* miscellaneous */

PRE.LITERALLAYOUT, .SCREEN, .SYNOPSIS, .PROGRAMLISTING {
	margin-left: 4ex;
}

.COMMENT	{ color: red; }

VAR		{ font-family: monospace; font-style: italic; }
/* Konqueror's standard style for ACRONYM is italic. */
ACRONYM		{ font-style: inherit; }

.OPTION		{ white-space: nowrap; }
