/* $PostgreSQL: pgsql/doc/src/sgml/stylesheet.css,v 1.7 2004/06/29 20:44:34 petere Exp $ */

/* color scheme similar to www.postgresql.org */

BODY {
	color: #000000;
	background: #FFFFFF;
}

A:link		{ color: #000066; }
A:visited	{ color: #000099; }
A:active	{ color: #FF0000; }

/* center titles */

BODY.BOOK H1.TITLE, BODY.SET H1.TITLE {
	text-align: center;
	font-size: 250%;
	font-family: sans-serif;
	color: #020167;
}

BODY.BOOK H3.CORPAUTHOR, BODY.SET H3.CORPAUTHOR {
	text-align: center;
	font-style: italic;
	font-weight: normal;
}

BODY.BOOK .COPYRIGHT, BODY.SET .COPYRIGHT {
	text-align: center;
}

/* decoration for formal examples */

DIV.EXAMPLE {
	padding-left: 15px;
	border-style: solid;
	border-width: 0px;
	border-left-width: 2px;
	border-color: black;
	margin: 0.5ex;
}

/* less dense spacing of TOC */

.SET .TOC DL DT, .BOOK .TOC DL DT {
	padding-top: 1.5ex;
	padding-bottom: 1.5ex;
}

.SET .TOC DL DL DT, .BOOK .TOC DL DL DT {
	padding-top: 0ex;
	padding-bottom: 0ex;
}

.SCREEN, .SYNOPSIS, .PROGRAMLISTING {
	margin-left: 4ex;
}

/* miscellaneous */

.NAVHEADER TH	{ font-style: italic; }
.COMMENT	{ color: red; }

VAR		{ font-family: monospace; font-style: italic; }
/* Konqueror's standard style for ACRONYM is italic. */
ACRONYM		{ font-style: inherit; }
