/array
/array.c
/binary
/binary.c
/bytea
/bytea.c
/code100
/code100.c
/copystdout
/copystdout.c
/createtableas
/createtableas.c
/declare
/declare.c
/define
/define.c
/desc
/desc.c
/describe
/describe.c
/dynalloc
/dynalloc.c
/dynalloc2
/dynalloc2.c
/dyntest
/dyntest.c
/execute
/execute.c
/fetch
/fetch.c
/func
/func.c
/indicators
/indicators.c
/insupd
/insupd.c
/oldexec
/oldexec.c
/parser
/parser.c
/prepareas
/prepareas.c
/quote
/quote.c
/show
/show.c
/sqlda
/sqlda.c
/twophase
/twophase.c
