/exports.list
/base64.c
/chklocale.c
/crypt.c
/getaddrinfo.c
/getpeereid.c
/inet_aton.c
/inet_net_ntop.c
/noblock.c
/open.c
/pg_strong_random.c
/pgstrcasecmp.c
/pqsignal.c
/scram-common.c
/sha2.c
/sha2_openssl.c
/snprintf.c
/strerror.c
/strlcpy.c
/system.c
/thread.c
/win32error.c
/win32setlocale.c
/pgsleep.c
/md5.c
/ip.c
/encnames.c
/wchar.c
/libpq.rc
