/exports.list
/chklocale.c
/crypt.c
/getaddrinfo.c
/getpeereid.c
/inet_aton.c
/inet_net_ntop.c
/noblock.c
/open.c
/pgstrcasecmp.c
/pqsignal.c
/snprintf.c
/strerror.c
/strlcpy.c
/thread.c
/win32error.c
/pgsleep.c
/md5.c
/ip.c
/encnames.c
/wchar.c
/libpq.rc
