[data-md-color-scheme="percona-light"] {
  --md-primary-fg-color:        #0d184c;
  --md-primary-fg-color--light: #3e4875;
  --md-default-fg-color--lightest: #9096b0;
  --md-primary-fg-color--dark:  #080e2e;
  --md-typeset-a-color: #2cbea2;
}
[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #0d184c;
    /*
    --md-primary-fg-color--light: #3e4875;
    --md-primary-fg-color--dark:  #080e2e;
    */
    --md-typeset-a-color: #2cbea2;
    --md-hue: 210; /* [0, 360] */
  }
ul li p {
	margin: 0;
}

.md-clipboard {
  color: #2cbea2;
}

.md-typeset {
  font-size: .7rem;
  line-height: 1.5;
}

.md-typeset h1 {
color: var(--md-default-fg-color--light);
font-size: 2em;
font-weight: 400;
line-height: 1.3;
margin: 0 0 0.9em;
}

.md-typeset h2 {
font-size: 1.5625em;
line-height: 1.4;
margin: 1em 0 .54em;
}

.md-typeset .md-button {
    border: .1rem solid;
    border-radius: 50px;
    color: var(--md-typeset-a-color);
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    padding: .625em 2em;
    transition:color 125ms, background-color 125ms, border-color 125ms
}

.md-typeset .md-button--primary {
    background-color: var(--md-typeset-a-color);
    border-color: var(--md-typeset-a-color);
    color:var(--md-primary-bg-color)
}

.md-typeset .md-button:focus, .md-typeset .md-button:hover {
    background-color: var(--md-accent-fg-color);
    border-color: var(--md-accent-fg-color);
    color:var(--md-accent-bg-color)
}

/*.git-revision-date-localized-plugin:before {
  content: url('https://api.iconify.design/mdi/clock-edit-outline.svg');
}*/
