# An OpenSSL format CSR config file for creating the client root certificate.
# This configuration file is also used when operating the CA.
#
# This certificate is used to sign client certificates. It is self-signed.

[ req ]
distinguished_name     = req_distinguished_name
prompt                 = no

[ req_distinguished_name ]
CN                     = Test CA for PostgreSQL SSL regression test client certs
