# An OpenSSL format CSR config file for creating a client certificate.
#
# The certificate is for user "ssltestuser".

[ req ]
distinguished_name     = req_distinguished_name
prompt                 = no

[ req_distinguished_name ]
CN                     = ssltestuser

# no extensions in client certs
[ v3_req ]
