# An OpenSSL format CSR config file for creating a server certificate.
#
# This certificate contains no CN, nor SANs. Not very useful, but make
# sure the client can handle it gracefully.

[ req ]
distinguished_name     = req_distinguished_name
req_extensions         = v3_req
prompt                 = no

[ req_distinguished_name ]
OU = PostgreSQL test suite

# For Subject Alternative Names
[ v3_req ]

[ alt_names ]
