# An OpenSSL format CSR config file for creating a server certificate.
#
# This is identical to server-cn-only certificate, but this one is revoked
# later.

[ req ]
distinguished_name     = req_distinguished_name
prompt                 = no

[ req_distinguished_name ]
CN = common-name.pg-ssltest.test
OU = PostgreSQL test suite

# For Subject Alternative Names
[ v3_req ]
